
body {
    margin: 0;
    padding: 0;
    background-image: url('k.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* اجعل الجسم يأخذ ارتفاع الشاشة بالكامل */
}


form {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 1px solid blue;
    border-radius: 10px;
    box-sizing: border-box; /* تأكد من حساب الحشو والحدود في العرض */
    
}

form h2 {
    color: blue;
    font-weight: 500;
}


input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box; /* تأكد من حساب الحشو والحدود في العرض */
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: darkblue;
}